.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.authorImage {
  margin-left: 0;
  height: 60pt;
  width: 60pt;
}

.authorDetailHeader {
  display:flex; 
  align-items:center
}